.body{

    margin: none;
    padding: none;
    
}


.menu{
    
    color: white;
    justify-content: center ;  
    position: absolute;
  top: 0;
  display: flex;
  padding: 50px 50px;
  z-index: 1;
  width: 100%;
  

}

.menu img{
    width: 50px;
    height: 50px;
    
    
}

.botoesmenu{
    justify-content:flex-end;
}
.botoesmenu button{

    border: none;
    border-radius: 4px;
    cursor: pointer;     
    gap: 3%;

}

.botao1{
    background:none;
    color: white;
    width: 10VW;
    height: 7VH;
    border-radius: 5px;
}


.botao2{
    background-color: white;
    color:#191919;
    width: 100px;
    height: 30px;
    border-radius: 15px;
    border: none;
    

}

  .titulodosite{
    display: flex;
    gap: 15px;
    position: relative;
  }

.cabeçalho{
    position: relative;
    width: 100%;
    border: none;
}
.cabeçalho img{
    width: 100%;
    height: 90vh;
    display: block;
  

}

.cabeçalho h1{
    justify-content: baseline;
    margin-top: 300px;
    margin-left: 300px;
    color: white;

}

.caixa

{ 
  text-align: center;
  margin-top: -400px;
  position: relative;
  

}
.caixa button{
    
    background-color: #eb1700;
}

.botaocapa2{
    position: relative;
    width: 250px ;
        background: none;
        text-decoration: underline;
        border: none;
        color: white;
        align-items: center;
        margin-left: 35%;
        margin-top: 5%;
        font-size: 18px;


}

.caixa h1{
 color: white;
 margin-top: 0%;
 font-size: 50px;
 
}

.input{
    display: flex;
    align-items: center;
    display: flex;
    position:absolute;
    width: 50%;
    margin-left: 38%;
}

.input input{
    
    height: 6vh;
    width: 25vw;
    color: white;
    background-color: white;
    border-radius: 15px;
    border: none;
    margin-top: -500px;
}

.input img{
    gap: 5%;
    width: 5%;
    height: 35px;
    margin-top: -500px;
    justify-content: center;
    position: absolute;
    margin-left: 45%;
    gap: 10px;


}


.topicos{
    margin-top: 20%;
    display: flex;
    margin-left: 20%;
    width: 70%;
    justify-content: center;
    margin-bottom: 5%;
    
}

.topico1{
    font-size: 20px;
    color: black;
    gap: 5%;
    width: 400px;
    
    
}

.topico1 h2{
    font-size: 20px;
}

.topico1 p{
     font-size: 17px;
     width: 210px;

}

.topicobotao{
    text-align: center;
    color: #eb1700;
    border: none;
    background-color: white;
}

.topico1 img{
width: 90px;
height: 90px;
margin-left: 23px;
justify-content: center;
}

.icone1 img {
    margin-bottom: -10%;
}

.galeria1{
    width: 80%;
    display: flex;
    margin-left: 110px;
    margin-right: 80px;
    
    

    
}    

.galeria1 h2{
  color: #191919;
}

.textoP {
    width: 70%;
    
}

.galeria1 img{
    border-bottom: -60%;
}

.botao1{
    background-color: none;
    color: white;
    width: 100px;
    height: 30px;
    

}



.texto1{
    width: 50%;
}

.texto1 button{
    background-color: #eb1700;
    color: white;
    width: 100px;
    height: 30px;
    border-radius: 15px;
    justify-content: center;
    border: 0;
}

.galeria2{
   
    display: flex;
    background-color:#fff0ed ;
    
   
   
}

.galeria2 img{
    margin-left: 100px;
    margin-top: 50px;
}

.galeria p, h2{
    margin-top: 60px;
    font-weight: 50px;
}

.galeria2 button{
    background-color: #eb1700;
    color: white;
    width: 135px;
    height: 30px;
    border-radius: 15px;
    justify-content: center;
    border: 0;
}

.texto2{
  margin-left: 50px;
}

.texto2 p{
    width: 70%;
}

.rodape{
    background-color: #191919;
    color: #b9b9b9;
    display: flex;
    height: 50%;
    width: 100%;
    padding-bottom: 50px;
    gap: 30px;
    border-right: 20px;
    border-width: 20px;
}

.rodape button{
    border: none;
    background-color: #191919;
    color: #b9b9b9;
}